{% extends 'base.html' %}
{% block head %}
    <style>
        label{
        }
        .body_textarea{
        }
        h2{
            color: #31261d;
            font-weight: normal;
            font-style: normal;
            padding-left:  10px;
            margin: 0px;
            margin-bottom: 10px;
        }
        .body_textarea small{
            color: gray;
            font-size: 13px;
            font-style: italic;
        }
        .body_textarea label{
            display: block;
            color: #31261d;
            text-align: right;
            width: 200px;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
        }
        .seqs{
            border: 2px #003752 solid;
            border-radius: 5px;
        }
        .form-file{
            margin-left: 200px;
            display: none;
        }
        .form-mail{
            margin: 0px;
            margin-left: 10px;
            font-style: normal;
            color: #31261d;
        }
        .form-mailbar{
            border: 2px #003752 solid;
            border-radius: 5px;
            margin-left: 10px;
        }
        .form-submit{
            margin-left: 45%;
            font-size: 16px;
            padding: 10px 15px;
            border-radius: 5px;
            background: #003752;
            border: 0 none;
            cursor: pointer;
            color: white;
        }
        .body_textarea hr{
            display: none;
            border-top: 2px solid gainsboro;
            margin-bottom: 20px;
        }
        .ckbox input{
            padding-left: 100px;
        }
        table tr td{
            padding-left: 10px
        }
    </style>
{% endblock %}
{% block main %}
    <form method="post" action="{{ url_for('submit') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <h1>wpSBOOT</h1><br>
        <label style="color: #444444; font-style: italic;">Incorporating alignment uncertainty into
               Felsensteins phylogenetic bootstrap
               to improve its reliability
        </label>
        <fieldset>
            <div class="body_textarea" id="text" >
                <h2>Sequences input
                <br><small>Paste or upload your set of sequences in FASTA format</small>
                </h2>
                <div>
                    <label>
                        Sequences to align
                        <br>
                        <a href="javascript:void(0)" onclick="loadexample()">clilck here to use sample file</a>
                    </label>
                    <textarea id="seqs" class="seqs" name="seqs" title="Enter the sequences to align" cols="80" rows="10"></textarea>
                </div>
                <label id="up" style="padding-left: 160px;"><a href="javascript:void(0)" onclick="upload_active()">or upload your own file</a></label>
                <br>
                <div>
                    <input class="form-file" id="upload_file" type="file" name="file">
                    <a id="x" style="display: none" href="{{ url_for('index') }}">(X)</a>
                </div>
            </div>
        </fieldset>
        <div id="showopt">
            <a href="javascript:void(0)" onclick="options()" >Show more options</a>
        </div>
        <div id="options" class="body_textarea" style="display: none">
            <a href="{{ url_for('index') }}">Hide advanced options</a>
            <fieldset>
                <h2>Methods
		<br><small>At least 2 aligners required</small>
		</h2>
                <div class="ckbox">
                    <table>
                        <tr>
                            <td>Aligner to use :</td>
                            <td>
                                <input type= "checkbox" name="mafft" checked="checked"> MAFFT
                            </td>
                            <td>
                                <input type= "checkbox" name="muscle" checked="checked"> Muscle
                            </td>
                            <td>
                                <input type= "checkbox" name="clustalw" checked="checked"> ClustalW
                            </td>
                            <td>
                                <input type= "checkbox" name="t-coffee" checked="checked"> T-Coffee
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
        <fieldset>
            <div class="body_label">
                <p>
                    {{ form.email.label(class_="form-mail") }} <small> (optional)</small> {{ form.email(class_="form-mailbar") }}
                </p>
            </div>
        </fieldset>
        <div>
            <p>
                {{ form.submit(class_="form-submit") }}
                <a href="{{ url_for('index') }}">
                    <label style="font-size: 20px">
                        reset
                    </label>
                </a>
            </p>
        </div>
    </form>

    <script>
        //JavaScript code
        function upload_active() {
            var upf = document.getElementById('upload_file')
            var upseqs = document.getElementById('seqs')
			var up = document.getElementById('up')
            var x = document.getElementById('x')

            x.style.display='inline'
            up.style.display='none'
            upf.style.display='inline'
			upseqs.value = ''
			upseqs.setAttribute("readOnly",'true');

		}
		function options() {
            var opt = document.getElementById('options')
            var show = document.getElementById('showopt')
            show.style.display='none'
            opt.style.display='block'
        }
        function loadexample() {
            var text = document.getElementById('seqs')
            text.value = '>seq0\n' +
                'FQTWEEFSRAAEKLYLADPMKVRVVLKYRHVDGNLCIKVTDDLVCLVYRTDQAQDVKKIEKF\n' +
                '>seq1\n' +
                'KYRTWEEFTRAAEKLYQADPMKVRVVLKYRHCDGNLCIKVTDDVVCLLYRTDQAQDVKKIEKFHSQLMRLME LKVTDNKECLKFKTDQAQEAKKMEKLNNIFFTLM\n' +
                '>seq2\n' +
                'EEYQTWEEFARAAEKLYLTDPMKVRVVLKYRHCDGNLCMKVTDDAVCLQYKTDQAQDVKKVEKLHGK\n' +
                '>seq3\n' +
                'MYQVWEEFSRAVEKLYLTDPMKVRVVLKYRHCDGNLCIKVTDNSVCLQYKTDQAQDVK\n' +
                '>seq4\n' +
                'EEFSRAVEKLYLTDPMKVRVVLKYRHCDGNLCIKVTDNSVVSYEMRLFGVQKDNFALEHSLL\n' +
                '>seq5\n' +
                'SWEEFAKAAEVLYLEDPMKCRMCTKYRHVDHKLVVKLTDNHTVLKYVTDMAQDVKKIEKLTTLLMR\n' +
                '>seq6\n' +
                'FTNWEEFAKAAERLHSANPEKCRFVTKYNHTKGELVLKLTDDVVCLQYSTNQLQDVKKLEKLSSTLLRSI\n' +
                '>seq7\n' +
                'SWEEFVERSVQLFRGDPNATRYVMKYRHCEGKLVLKVTDDRECLKFKTDQAQDAKKMEKLNNIFF\n' +
                '>seq8\n' +
                'SWDEFVDRSVQLFRADPESTRYVMKYRHCDGKLVLKVTDNKECLKFKTDQAQEAKKMEKLNNIFFTLM\n' +
                '>seq9\n' +
                'KNWEDFEIAAENMYMANPQNCRYTMKYVHSKGHILLKMSDNVKCVQYRAENMPDLKK\n' +
                '>seq10\n' +
                'FDSWDEFVSKSVELFRNHPDTTRYVVKYRHCEGKLVLKVTDNHECLKFKTDQAQDAKKMEK'
        }
    </script>
{% endblock %}

